.filteringTab {
   background-color: $secondaryBlue;
   border-radius: $radius;
   margin-bottom: 24px;

   &Select {
      cursor: pointer;
   }
}

.submitButton {
   width: 100%;
   background-color: $primaryBlue;
   &:hover {
      background-color: #72bbff;
   }
}
