.imgHomeSize {
   height: 156px;
   border-radius: 25px;
   text-align: center;
}

.container {
   .blockContent {
      background-color: $secondaryBlue;
      max-width: 90%;
      border-radius: 25px;
      margin: 30px auto;
      font-size: larger;
      p {
         font-weight: 300;
      }
   }
}
