/* colors */
$primaryBlue: #c0e1ff;
$secondaryBlue: #ebf5ff;
$dark: #212529;
$white: #fff;

/* fonts */
$headingFont: var(--font-nunito);
$normalFont: var(--font-montserrat);

/* styles */
$radius: 25px;
